// put your styles here

body {
    background-color: #1a212a;
    color: white;
}

main {
    margin-top: 80px;
}

header {
    display: flex;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    height: 80px;
    width: 100vw;
}


.hamburger-menu {
    margin-left: 80px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.brand-name {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}

.brand-name > a {
    color: inherit;
}

.hamburger-menu__topbar {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background-color: white;
}

.hamburger-menu__bottombar {
    width: 100%;
    height: 2px;
    margin: 5px auto 0 auto;
    background-color: white;
}

.cart-image-container {
    margin-right: 80px;
    height: 30px;
    width: 30px
}



// --------------- navigation bar -------------

.navigation-menu {
    // display: none;
    opacity: 0;     // TODO: peformance technisch schneller/effizienter mit display = none (da es so nicht von dom gerendert wird, gerade auch mit den product images?!)
    position: fixed;
    top: 0;
    left: 0;
    background-color:#1a212a; // 
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: opacity 400ms ease-out;
    pointer-events: none;
}

.navigation-menu.open {
    opacity: 1;
    pointer-events: all;
}

.navigation-menu .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    // background-color: red;
}

.cancel-btn {
    margin-left: 80px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mdiv {
    height: 100%;
    width: 2px;
    margin-left: 12px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .md {
    height: 100%;
    width: 2px;
    background-color: white;
    transform: rotate(90deg);
    Z-index: 2;
  }

  .nav-list {
      margin-right: 80px;
  }

  .nav-list__item {
      display: inline-block;
      margin-right: 40px;
  }

  .nav-list__item a,
  .navigation-menu .product-carousel .product-item a  {
      color: white;
  }

  
  .carousel-buttons {
      margin-left: 70px;
      margin-top: 40px;
  }


  .carousel-btn {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin-right: 40px;
      cursor: pointer;
      transition: transform 160ms ease-out
  }

  // default value für linken carousel button (da caraousel ja ganz links startet)
  .carousel-btn.left {
      cursor: initial;
  }

  .left.carousel-btn-svg-path {
      stroke: rgba(149, 149, 149, 0.28)
  }
 

  .carousel-btn:hover {
      transform: scale(1.4);
  }
  

  .product-carousel {
    // TODO: eventuell height: calc(100vh - 80px); width: 100vw festlegen 
    display: flex;
    // margin-top: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 40px;
  }

  .product-item {
    // display: inline-block; // nicht nötig da product-carousel == flex container
    min-width: 24%;     // min-width statt normales width property, damit overflow x -> ansonsten würde html/flexbox die jweiligen elemente zu verkleinern, sodass sie alle in einer line passen (width wäre dann nicht mehr 24%)
    height: 75vh;
    // TODO: max-height
    padding: 30px;
    position: relative;
    transition: transform 250ms ease-out;
  }


  .product-img-container {
      // NOTE: background-image wird in productitem.liquid gestzt(via style prooperty ) (da liquid-url data gebraucht wird)
      width: 100%;
      height: 80%;
      overflow: hidden;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: transform 300ms ease-out, box-shadow 300ms ease-out;
      position: relative;
      z-index: 2;
    
  }

  .product-carousel .product-title {
      position: relative;
      z-index: 1;
      font-size: 2rem;
      margin-top: 16px;
      transition: transform 300ms ease-out;
  }










// --------------- index-page -----------------

.index-page-content {
    margin-top: 90vh
}

// TODO: postion 
.index-page-product {
    position: relative;
    height: 480px;
    text-align: center;
    margin-bottom: 300px;
}

.index-page-product__content {
    display: inline-block;
    max-width: 480px;
    position: absolute;
    top: 40px;
    z-index: 100;
    color: white;
    margin-left: 70px;
    text-align: left !important; 
    opacity: 0;
    transition: opacity .5s ease-out;
    text-shadow: 4px 4px 8px black
}

.index-page-product__content h1 {
    font-size: 5.5rem;
}

.index-page-product__cta {
    width: 300px;
    display: flex;
    align-items: center;   
    margin: 20px 0 ; 
}

.index-page-produc__cta > div {
    margin-right: 10px;
}


.arrow-image-container {
    margin: auto 0 0 10px;
    display: inline-block;
    height: 17px;
    transform: translateX(0);
    transition: transform 100ms ease-out;
}

.index-page-product__cta:hover .arrow-image-container {
    transform: translateX(10px);
}


.index-page-product-image-container {
    display: inline-block;
    height: 100%;
    width: 82vw;
    overflow: hidden;
    transform: rotateZ(-2deg);
    max-width: 980px;
    // TODO: linear-gradient als schatten des background images!!
    // background: linear-gradient(35deg,rgba(0,0,0,.5) 10%,transparent 65%);
    // position: relative;
    // z-index: 1;
    
}

.index-page-product-image-background {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

}



a {
    color: black;
    // https://stackoverflow.com/questions/32805972/why-does-my-link-append-an-underscore-at-random-position
    text-decoration: none;
}
