// put your styles here

body {
    background-color: #1a212a ;
}

main {
    margin-top: 80px;
}

header {
    display: flex;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    // background: rgb(114, 114, 114);
    height: 80px;
    width: 100vw;
}


.hamburger-menu {
    margin-left: 80px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.brand-name {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}

.hamburger-menu__topbar {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background-color: white;
}

.hamburger-menu__bottombar {
    width: 100%;
    height: 2px;
    margin: 5px auto 0 auto;
    background-color: white;
}

.cart-image-container {
    margin-right: 80px;
    height: 30px;
    width: 30px
}
.index-page-content {
    // transform: translateY(90vh);
    margin-top: 90vh
}

// TODO: postion 
.index-page-product {
    position: relative;
    height: 60vh;
    text-align: center;
    margin-bottom: 300px;
}

.index-page-product__content {
    // TODO: position: zu relativ ändern ... muss irgendwie ÜBER dem product image container sein
    display: inline-block;
    max-width: 480px;
    position: absolute;
    top: 70px;
    z-index: 100;
    color: white;
    margin-left: 70px;
    text-align: left !important; 
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out      // eventuell noch mit delay

}

.index-page-product__content h1 {
    font-size: 5.5rem;
}

.index-page-product__cta {
    width: 300px;
    display: flex;
    align-items: center;   
    margin: 20px 0 ; 
}

.index-page-produc__cta > div {
    margin-right: 10px;
}


.arrow-image-container {
    margin: auto 0 0 10px;
    display: inline-block;
    height: 17px;
    transform: translateX(0);
    transition: transform 100ms ease-out;
}

.index-page-product__cta:hover .arrow-image-container {
    transform: translateX(10px);
}

// .index-page-product__image-container {
//     display: inline-block;
//     height: 100%;
//     width: 70vw;
//     overflow: hidden;
//     position: absolute;
// }

.index-page-product-image-background {
    display: inline-block;
    height: 100%;
    // TODO: nochmal überarbeiten -> background image wdh sich, wenn es nicht mehr groß genug ist für index-page-product-image-background DIV 
    width: 82vw;
    max-width: 980px;
    overflow: hidden;
    position: relative;
    background-position: center;
    transform: rotateZ(-2deg);
}

.index-page-product__image-container img {
    height: 100%;
    transform: translateX(10%) scale(1.2);
}


.product-content-show {
    transform: translateY(-70px);
    opacity: 1;
}


@keyframes fadeIn {
    from {
        transform: translateY(0px);
        opacity: 0;
    } to {
        transform: translateY(-70px);
        opacity: 1;
    }
  





a {
    color: black;
    // https://stackoverflow.com/questions/32805972/why-does-my-link-append-an-underscore-at-random-position
    text-decoration: none;
}
